ProcapitaBoUExport/Service References/ProcapitaIMS/imsbasicservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/Imports">
      <xsd:import schemaLocation="http://imsserver/HCW.Welfare.CustomSolutions.Integration.IISHost/V1/imsbasicservice.svc?xsd=xsd4" namespace="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" />
      <xsd:import schemaLocation="http://imsserver/HCW.Welfare.CustomSolutions.Integration.IISHost/V1/imsbasicservice.svc?xsd=xsd3" namespace="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" />
      <xsd:import schemaLocation="http://imsserver/HCW.Welfare.CustomSolutions.Integration.IISHost/V1/imsbasicservice.svc?xsd=xsd0" namespace="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0" />
      <xsd:import schemaLocation="http://imsserver/HCW.Welfare.CustomSolutions.Integration.IISHost/V1/imsbasicservice.svc?xsd=xsd1" namespace="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0" />
      <xsd:import schemaLocation="http://imsserver/HCW.Welfare.CustomSolutions.Integration.IISHost/V1/imsbasicservice.svc?xsd=xsd2" namespace="http://www.imsglobal.org/services/pms/xsd/imsPersonManDataSchema_v1p0" />
      <xsd:import schemaLocation="http://imsserver/HCW.Welfare.CustomSolutions.Integration.IISHost/V1/imsbasicservice.svc?xsd=xsd5" namespace="http://www.imsglobal.org/services/gms/xsd/imsGroupManDataSchema_v1p0" />
      <xsd:import schemaLocation="http://imsserver/HCW.Welfare.CustomSolutions.Integration.IISHost/V1/imsbasicservice.svc?xsd=xsd6" namespace="http://www.imsglobal.org/services/mms/xsd/imsMemberManMessSchema_v1p0" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createGroupHeaderRequest">
    <wsdl:part xmlns:q1="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="createGroupRequest" element="q1:createGroupRequest" />
  </wsdl:message>
  <wsdl:message name="createGroupHeaderRequest_Headers">
    <wsdl:part xmlns:q2="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q2:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="createGroupHeaderResponse">
    <wsdl:part xmlns:q3="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="createGroupResponse" element="q3:createGroupResponse" />
  </wsdl:message>
  <wsdl:message name="createGroupHeaderResponse_Headers">
    <wsdl:part xmlns:q4="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q4:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="createByProxyGroupHeaderRequest">
    <wsdl:part xmlns:q5="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="createByProxyGroupRequest" element="q5:createByProxyGroupRequest" />
  </wsdl:message>
  <wsdl:message name="createByProxyGroupHeaderRequest_Headers">
    <wsdl:part xmlns:q6="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q6:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="createByProxyGroupHeaderResponse">
    <wsdl:part xmlns:q7="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="createByProxyGroupResponse" element="q7:createByProxyGroupResponse" />
  </wsdl:message>
  <wsdl:message name="createByProxyGroupHeaderResponse_Headers">
    <wsdl:part xmlns:q8="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q8:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="deleteGroupHeaderRequest">
    <wsdl:part xmlns:q9="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="deleteGroupRequest" element="q9:deleteGroupRequest" />
  </wsdl:message>
  <wsdl:message name="deleteGroupHeaderRequest_Headers">
    <wsdl:part xmlns:q10="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q10:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="deleteGroupHeaderResponse">
    <wsdl:part xmlns:q11="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="deleteGroupResponse" element="q11:deleteGroupResponse" />
  </wsdl:message>
  <wsdl:message name="deleteGroupHeaderResponse_Headers">
    <wsdl:part xmlns:q12="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q12:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="deleteGroupRelationshipHeaderRequest">
    <wsdl:part xmlns:q13="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="deleteGroupRelationshipRequest" element="q13:deleteGroupRelationshipRequest" />
  </wsdl:message>
  <wsdl:message name="deleteGroupRelationshipHeaderRequest_Headers">
    <wsdl:part xmlns:q14="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q14:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="deleteGroupRelationshipHeaderResponse">
    <wsdl:part xmlns:q15="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="deleteGroupRelationshipResponse" element="q15:deleteGroupRelationshipResponse" />
  </wsdl:message>
  <wsdl:message name="deleteGroupRelationshipHeaderResponse_Headers">
    <wsdl:part xmlns:q16="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q16:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="readGroupHeaderRequest">
    <wsdl:part xmlns:q17="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="readGroupRequest" element="q17:readGroupRequest" />
  </wsdl:message>
  <wsdl:message name="readGroupHeaderRequest_Headers">
    <wsdl:part xmlns:q18="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q18:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="readGroupHeaderResponse">
    <wsdl:part xmlns:q19="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="readGroupResponse" element="q19:readGroupResponse" />
  </wsdl:message>
  <wsdl:message name="readGroupHeaderResponse_Headers">
    <wsdl:part xmlns:q20="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q20:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="updateGroupHeaderRequest">
    <wsdl:part xmlns:q21="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="updateGroupRequest" element="q21:updateGroupRequest" />
  </wsdl:message>
  <wsdl:message name="updateGroupHeaderRequest_Headers">
    <wsdl:part xmlns:q22="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q22:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="updateGroupHeaderResponse">
    <wsdl:part xmlns:q23="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="updateGroupResponse" element="q23:updateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="updateGroupHeaderResponse_Headers">
    <wsdl:part xmlns:q24="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q24:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="replaceGroupHeaderRequest">
    <wsdl:part xmlns:q25="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="replaceGroupRequest" element="q25:replaceGroupRequest" />
  </wsdl:message>
  <wsdl:message name="replaceGroupHeaderRequest_Headers">
    <wsdl:part xmlns:q26="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q26:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="replaceGroupHeaderResponse">
    <wsdl:part xmlns:q27="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="replaceGroupResponse" element="q27:replaceGroupResponse" />
  </wsdl:message>
  <wsdl:message name="replaceGroupHeaderResponse_Headers">
    <wsdl:part xmlns:q28="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q28:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="changeGroupIdentifierHeaderRequest">
    <wsdl:part xmlns:q29="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="changeGroupIdentifierRequest" element="q29:changeGroupIdentifierRequest" />
  </wsdl:message>
  <wsdl:message name="changeGroupIdentifierHeaderRequest_Headers">
    <wsdl:part xmlns:q30="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q30:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="changeGroupIdentifierHeaderResponse">
    <wsdl:part xmlns:q31="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="changeGroupIdentifierResponse" element="q31:changeGroupIdentifierResponse" />
  </wsdl:message>
  <wsdl:message name="changeGroupIdentifierHeaderResponse_Headers">
    <wsdl:part xmlns:q32="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q32:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="createGroupsHeaderRequest">
    <wsdl:part xmlns:q33="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="createGroupsRequest" element="q33:createGroupsRequest" />
  </wsdl:message>
  <wsdl:message name="createGroupsHeaderRequest_Headers">
    <wsdl:part xmlns:q34="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q34:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="createGroupsHeaderResponse">
    <wsdl:part xmlns:q35="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="createGroupsResponse" element="q35:createGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="createGroupsHeaderResponse_Headers">
    <wsdl:part xmlns:q36="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q36:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="createByProxyGroupsHeaderRequest">
    <wsdl:part xmlns:q37="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="createByProxyGroupsRequest" element="q37:createByProxyGroupsRequest" />
  </wsdl:message>
  <wsdl:message name="createByProxyGroupsHeaderRequest_Headers">
    <wsdl:part xmlns:q38="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q38:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="createByProxyGroupsHeaderResponse">
    <wsdl:part xmlns:q39="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="createByProxyGroupsResponse" element="q39:createByProxyGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="createByProxyGroupsHeaderResponse_Headers">
    <wsdl:part xmlns:q40="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q40:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="deleteGroupsHeaderRequest">
    <wsdl:part xmlns:q41="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="deleteGroupsRequest" element="q41:deleteGroupsRequest" />
  </wsdl:message>
  <wsdl:message name="deleteGroupsHeaderRequest_Headers">
    <wsdl:part xmlns:q42="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q42:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="deleteGroupsHeaderResponse">
    <wsdl:part xmlns:q43="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="deleteGroupsResponse" element="q43:deleteGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="deleteGroupsHeaderResponse_Headers">
    <wsdl:part xmlns:q44="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q44:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="deleteGroupsRelationshipHeaderRequest">
    <wsdl:part xmlns:q45="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="deleteGroupsRelationshipRequest" element="q45:deleteGroupsRelationshipRequest" />
  </wsdl:message>
  <wsdl:message name="deleteGroupsRelationshipHeaderRequest_Headers">
    <wsdl:part xmlns:q46="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q46:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="deleteGroupsRelationshipHeaderResponse">
    <wsdl:part xmlns:q47="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="deleteGroupsRelationshipResponse" element="q47:deleteGroupsRelationshipResponse" />
  </wsdl:message>
  <wsdl:message name="deleteGroupsRelationshipHeaderResponse_Headers">
    <wsdl:part xmlns:q48="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q48:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="readGroupsHeaderRequest">
    <wsdl:part xmlns:q49="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="readGroupsRequest" element="q49:readGroupsRequest" />
  </wsdl:message>
  <wsdl:message name="readGroupsHeaderRequest_Headers">
    <wsdl:part xmlns:q50="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q50:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="readGroupsHeaderResponse">
    <wsdl:part xmlns:q51="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="readGroupsResponse" element="q51:readGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="readGroupsHeaderResponse_Headers">
    <wsdl:part xmlns:q52="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q52:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="readGroupsForPersonHeaderRequest">
    <wsdl:part xmlns:q53="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="readGroupsForPersonRequest" element="q53:readGroupsForPersonRequest" />
  </wsdl:message>
  <wsdl:message name="readGroupsForPersonHeaderRequest_Headers">
    <wsdl:part xmlns:q54="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q54:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="readGroupsForPersonHeaderResponse">
    <wsdl:part xmlns:q55="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="readGroupsForPersonResponse" element="q55:readGroupsForPersonResponse" />
  </wsdl:message>
  <wsdl:message name="readGroupsForPersonHeaderResponse_Headers">
    <wsdl:part xmlns:q56="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q56:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="updateGroupsHeaderRequest">
    <wsdl:part xmlns:q57="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="updateGroupsRequest" element="q57:updateGroupsRequest" />
  </wsdl:message>
  <wsdl:message name="updateGroupsHeaderRequest_Headers">
    <wsdl:part xmlns:q58="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q58:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="updateGroupsHeaderResponse">
    <wsdl:part xmlns:q59="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="updateGroupsResponse" element="q59:updateGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="updateGroupsHeaderResponse_Headers">
    <wsdl:part xmlns:q60="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q60:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="replaceGroupsHeaderRequest">
    <wsdl:part xmlns:q61="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="replaceGroupsRequest" element="q61:replaceGroupsRequest" />
  </wsdl:message>
  <wsdl:message name="replaceGroupsHeaderRequest_Headers">
    <wsdl:part xmlns:q62="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q62:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="replaceGroupsHeaderResponse">
    <wsdl:part xmlns:q63="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="replaceGroupsResponse" element="q63:replaceGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="replaceGroupsHeaderResponse_Headers">
    <wsdl:part xmlns:q64="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q64:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="changeGroupsIdentifierHeaderRequest">
    <wsdl:part xmlns:q65="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="changeGroupsIdentifierRequest" element="q65:changeGroupsIdentifierRequest" />
  </wsdl:message>
  <wsdl:message name="changeGroupsIdentifierHeaderRequest_Headers">
    <wsdl:part xmlns:q66="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncRequestHeaderInfo" element="q66:syncRequestHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="changeGroupsIdentifierHeaderResponse">
    <wsdl:part xmlns:q67="http://www.imsglobal.org/services/gms/xsd/imsGroupManMessSchema_v1p0" name="changeGroupsIdentifierResponse" element="q67:changeGroupsIdentifierResponse" />
  </wsdl:message>
  <wsdl:message name="changeGroupsIdentifierHeaderResponse_Headers">
    <wsdl:part xmlns:q68="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0" name="syncResponseHeaderInfo" element="q68:syncResponseHeaderInfo" />
  </wsdl:message>
  <wsdl:portType name="GroupManagementServiceSync">
    <wsdl:operation name="createGroup">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/createGroup" name="createGroupHeaderRequest" message="tns:createGroupHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/createGroupResponse" name="createGroupHeaderResponse" message="tns:createGroupHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="createByProxyGroup">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/createByProxyGroup" name="createByProxyGroupHeaderRequest" message="tns:createByProxyGroupHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/createByProxyGroupResponse" name="createByProxyGroupHeaderResponse" message="tns:createByProxyGroupHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/deleteGroup" name="deleteGroupHeaderRequest" message="tns:deleteGroupHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/deleteGroupResponse" name="deleteGroupHeaderResponse" message="tns:deleteGroupHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteGroupRelationship">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/deleteGroupRelationship" name="deleteGroupRelationshipHeaderRequest" message="tns:deleteGroupRelationshipHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/deleteGroupRelationshipResponse" name="deleteGroupRelationshipHeaderResponse" message="tns:deleteGroupRelationshipHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="readGroup">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/readGroup" name="readGroupHeaderRequest" message="tns:readGroupHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/readGroupResponse" name="readGroupHeaderResponse" message="tns:readGroupHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/updateGroup" name="updateGroupHeaderRequest" message="tns:updateGroupHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/updateGroupResponse" name="updateGroupHeaderResponse" message="tns:updateGroupHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="replaceGroup">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/replaceGroup" name="replaceGroupHeaderRequest" message="tns:replaceGroupHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/replaceGroupResponse" name="replaceGroupHeaderResponse" message="tns:replaceGroupHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="changeGroupIdentifier">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/changeGroupIdentifier" name="changeGroupIdentifierHeaderRequest" message="tns:changeGroupIdentifierHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/changeGroupIdentifierResponse" name="changeGroupIdentifierHeaderResponse" message="tns:changeGroupIdentifierHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="createGroups">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/createGroups" name="createGroupsHeaderRequest" message="tns:createGroupsHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/createGroupsResponse" name="createGroupsHeaderResponse" message="tns:createGroupsHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="createByProxyGroups">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/createByProxyGroups" name="createByProxyGroupsHeaderRequest" message="tns:createByProxyGroupsHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/createByProxyGroupsResponse" name="createByProxyGroupsHeaderResponse" message="tns:createByProxyGroupsHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteGroups">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/deleteGroups" name="deleteGroupsHeaderRequest" message="tns:deleteGroupsHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/deleteGroupsResponse" name="deleteGroupsHeaderResponse" message="tns:deleteGroupsHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteGroupsRelationship">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/deleteGroupsRelationship" name="deleteGroupsRelationshipHeaderRequest" message="tns:deleteGroupsRelationshipHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/deleteGroupsRelationshipResponse" name="deleteGroupsRelationshipHeaderResponse" message="tns:deleteGroupsRelationshipHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="readGroups">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/readGroups" name="readGroupsHeaderRequest" message="tns:readGroupsHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/readGroupsResponse" name="readGroupsHeaderResponse" message="tns:readGroupsHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="readGroupsForPerson">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/readGroupsForPerson" name="readGroupsForPersonHeaderRequest" message="tns:readGroupsForPersonHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/readGroupsForPersonResponse" name="readGroupsForPersonHeaderResponse" message="tns:readGroupsForPersonHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateGroups">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/updateGroups" name="updateGroupsHeaderRequest" message="tns:updateGroupsHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/updateGroupsResponse" name="updateGroupsHeaderResponse" message="tns:updateGroupsHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="replaceGroups">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/replaceGroups" name="replaceGroupsHeaderRequest" message="tns:replaceGroupsHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/replaceGroupsResponse" name="replaceGroupsHeaderResponse" message="tns:replaceGroupsHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="changeGroupsIdentifier">
      <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/gms/changeGroupsIdentifier" name="changeGroupsIdentifierHeaderRequest" message="tns:changeGroupsIdentifierHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.imsglobal.org/services/gms/wsdl/imsGroupManAbstractSync_v1p0/GroupManagementServiceSync/changeGroupsIdentifierResponse" name="changeGroupsIdentifierHeaderResponse" message="tns:changeGroupsIdentifierHeaderResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>